
    /*整体*/
.body_box {

    width: 1111px;
    height: 1111px;
    border: 1px solid #000000;
    margin: 10px auto;
}

/*   导航  */
.body_pilot {
    margin: 20px 0px 0px 20px;
    height: 88px;
    width: 1055px;
}

.body_pilot_ul {
    background-image: url("images/new_spf_title.png");
    height: 50px;
    margin: 0px;
    list-style: none;
}

.body_pilot_ul li {
    width: 100px;
    height: 30px;
    cursor: pointer;
    line-height: 55px;
    float: left;
}

/*公告*/
.gonggao {
    width: 1055px;
    height: 30px;
    background: aquamarine;
    align-content: center;
}

/*展示左*/
.body_left {

    margin: 5px 5px 10px 20px;
    padding: 0px 5px;
    width: 200px;
    height: 888px;
    float: left;
}

/*左上*/
.body_left_top {
    border: darksalmon 1px solid;
    width: 200px;
    margin: 5px auto;
    height: 430px;
    display: block;

}

/*左下*/
.body_left_down {
    border: darksalmon 1px solid;
    width: 200px;
    margin: 20px auto;
    height: 430px;
    display: block;

}

/*
    展示中间部分*/
.body_center {
    margin: 10px 5px 10px 8px;
    /*padding: 0px 0px 0px 0px;*/
    border: darksalmon 1px solid;
    width: 600px;
    height: 885px;
    float: left;
}

/*中间*/
.body_center_body {

    width: 250px;
    height: 84px;
    margin: 20px 10px;
    display: block;
    background: darkgray;
    float: left;
}

.center_body_title {

    height: 35px;

    position: relative;
}

.center_body_font {
    float: left;
    display: block;
    position: absolute;
    background: white;
    text-align: center;
    color: #0000FF;
    width: 150px;
    height: 50px;
    left: 500px;
    top: 145px;
}

.center_body_a {
    float: left;
    position: absolute;
    height: 35px;
    left: 950px;
    top: 145px;

}

/*展示右部*/
.body_right {
    margin: 5px 0px 10px 5px;


    width: 200px;

    height: 888px;

    float: left;
}

/*右上*/
.body_right_top {
    padding: auto 0px;
    width: 200px;
    height: 288px;

}

/*  右上 部分 li设置*/
.body_right_top li {



    list-style: none;
    width: 190px;
    height: 51px;
    display: block;
    margin: 5px auto;

}

/*右下*/
.body_right_down {
    border: 1px solid darkgray;
    margin: 1px auto;
    width: 190px;
    height: 295px;
    display: block;
}

/*通用样式  */
.im {
    align-content: center;
    height: 30px;
    background: url("images/index2_56.png");
    background-size: 200px 30px;
    position: relative;
    color: aliceblue;
}

/*所有超链接  更多 */
a {
    text-decoration: none;
    color: white;
}

