.head_top{
    height:30px;
    position:relative;

}

.head_top_left{
    float:left;
    display:block;
    position:absolute;
    left:320px;
    top:5px;

}
.head_top_right{
    position:absolute;
    float:right;
    right:320px;
    top:5px;
}
.logo_box{
    width:1055px;
    height:30px;
  /*  border:1px solid #F00;*/
    margin:0px auto;
    margin-top:20px;
    padding-top:20px;

}
.span_select{
    display:block;
    float:right;}
.index2_15{
    background-image:url(images/index2_15.png);


}
